:root {
  --bg-color: #f0f2f5;
  --dark-green: #2d4a22;
  --green: #49aa26;
  --white: #fff;
  --dark-blue: #363f5f;
  --light-blue: #969cb3;
  --red: #e92929;
  --dark-green: #12a454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--dark-green);
  padding: 2rem 0 8rem;
  text-align: center;
}

header #logo {
  color: var(--white);
  font-weight: 100;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--white);
}

.card {
  background: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
}

.card p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 3rem;
}

.card.total {
  background: var(--green);
  color: var(--white);
}

#data-table {
  width: 100%;

  border-spacing: 0 0.5rem;
  color: var(--light-blue);
}

table thead tr th:first-child {
  border-radius: 0.25rem 0 0 0;
}

table thead tr th:last-child {
  border-radius: 0 0.25rem 0 0;
}

table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.25rem;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 0.25rem 0;
}

table th {
  background: var(--white);
  font-weight: 400;

  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: var(--white);
  padding: 1rem 2rem;
}

table td.description {
  color: var(--dark-blue);
}

table td.expense {
  color: var(--red);
}

table td.income {
  color: var(--dark-green);
}

footer {
  text-align: center;
  padding: 4rem 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}
