body {
  --color-background: #f0f2f5;
  --color-box-background: #fff;
  --color-text-on-primary: #fff;
  --color-primary: #49aa26;
  --color-primary-dark: #2d4a22;
  --color-text-title: #363f5f;
  --color-text-base: #969cb3;
  --color-text-amount: #49aa26;
  --color-red: #e92929;
}

body.dark-theme {
  --color-background: #0a0906;
  --color-box-background: #121214;
  --color-text-on-primary: #fff;
  --color-primary: #8257e5;
  --color-primary-dark: #28203e;
  --color-text-title: #a8a8b3;
  --color-text-base: #c4c4cc;
  --color-text-income: #49aa26;
  --color-red: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: var(--color-background);
  font-family: "Poppins", sans-serif;
  color: var(--color-text-base);
}

header {
  background: var(--color-primary-dark);
  padding: 2rem 0 8rem;
  text-align: center;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-text-title);
  font-weight: 400;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: var(--color-text-title);
}

.card {
  background: var(--color-box-background);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  color: var(--color-text-title);
  margin-bottom: 2rem;
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 3rem;
}

.card.total {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-dark);
}

.button.new {
  margin-bottom: 0.8rem;
  display: inline-block;
}

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;

  border-spacing: 0 0.5rem;
}

table thead tr th:first-child {
  border-radius: 0.25rem 0 0 0;
}

table thead tr th:last-child {
  border-radius: 0 0.25rem 0 0;
}

table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.25rem;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 0.25rem 0;
}

table th {
  background: var(--color-box-background);
  font-weight: 400;

  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: var(--color-box-background);
  padding: 1rem 2rem;
}

table td.description {
  color: var(--color-text-title);
}

table td.expense {
  color: var(--color-red);
}

table td.income {
  color: var(--color-text-income);
}

table td.remove img {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 4rem 2rem;
  color: var(--color-text-title);
  opacity: 0.6;
}

.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--color-background);
  padding: 2.4rem;
  max-width: 500px;
  width: 90%;
}

#form h2 {
  margin-top: 0;
  color: var(--color-text-title);
}

.input-group {
  margin-top: 0.8rem;
}

input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions button,
.input-group.actions .button {
  width: 48%;
}

button {
  height: 50px;
  color: var(--color-text-on-primary);
  border: none;

  background: var(--color-primary);
  padding: 0;

  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-dark);
}

button.cancel {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  background: none;
  border-radius: 0.25rem;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.4;
}

button.cancel:hover {
  opacity: 1;
}

.toggle-theme {
  position: fixed;
  right: 4%;
  bottom: 4%;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  padding: 0.6rem;
  background: #2f2e41;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toggle-theme:hover {
  background: #2f2e41;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toggle-theme div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(./assets/moon.svg);
  background-size: contain;
  background-position: center;
}

.dark-theme .toggle-theme {
  background: #e5e5e5;
}

.dark-theme .toggle-theme:hover {
  box-shadow: 1px 1px 8px #888888;
}

.dark-theme .toggle-theme div {
  background-image: url(./assets/sun.svg);
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
